.footer {
	width: 100%;
	min-height: 525px;
	background: url(../../img/footer_background.png), url(../../img/footer_filter.png) center no-repeat;
	background-size: cover;
	position: relative;

	&__small-container {
		width: 100%;
		max-width: 770px;
		min-height: 100%;
		margin: 350px auto 0;
		transition: all 0.5s ease-in;
	}

	&__row-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 40px;
		flex-wrap: wrap;
		row-gap: 15px;
	}

	&__logo {
		display: inline-block;
		padding-right: 15px;
	}

	&__text {
		display: flex;
		flex-wrap: wrap-reverse;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		color: rgb(255, 255, 255);
		font-family: "GothamBook";
		gap: 20px 20px;

		i {
			padding: 0 5px 0 5px;
		}
	}

	&__vertical-separator {
		background-color: rgba(255, 255, 255, 0.5);
		width: 1px;
		height: 20px;
		display: inline-block;
	}
}

.form {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px -4px 30px 0px rgba(133, 133, 133, 0.2);
	width: 100%;
	max-width: 770px;
	min-height: 450px;
	margin: -300px auto;
	padding-top: 40px;
	background-image: url(../../img/footer_form_background.png);
	background-position: bottom;
	background-repeat: no-repeat;
	transition: all 0.5s ease-in;

	&__separator {
		background-color: rgb(44, 64, 88);
		margin: 0 auto;
	}

	&__title {
		font-size: 44px;
		color: rgb(44, 64, 88);
		text-transform: uppercase;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 30px;
		font-family: "gothambold1";
	}

	&__flex-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		min-height: 205px;
		padding: 0 60px 0 60px;
		row-gap: 20px;
	}
}

.info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 1 auto;
	min-height: 100%;
	row-gap: 15px;

	&__content {
		font-size: 18px;
		color: rgb(44, 64, 88);
		font-family: "GothamBook";
		line-height: 1.1;

		i {
			color: rgb(126, 90, 255);
		}
	}
}
.feedback {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 0 15px 0 15px;
	font-family: "GothamBook";
	color: rgb(44, 64, 88);

	&__name {
		border-bottom: 1px solid black;
		padding: 0 0 20px 0;
		font-size: 18px;
	}

	&__email {
		border-bottom: 1px solid black;
		padding: 20px 0 20px 0;
		margin-top: 20px;
	}

	&__name:hover,
	&__name:focus,
	&__email:hover,
	&__email:focus {
		border-color: red;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px white inset !important;
		-webkit-text-fill-color: rgb(44, 64, 88) !important;
	}

	&__name::placeholder,
	&__email::placeholder {
		color: rgba(75, 85, 98, 0.502);
	}

	&__button {
		width: 90%;
		max-width: 140px;
		height: 50px;
		border: 1px solid rgb(44, 64, 88);
		font-size: 14px;
		font-family: "GothamBook";
		color: rgb(44, 64, 88);
		text-transform: uppercase;
		transition: all 0.2s ease-in;
		line-height: 1.571;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
		cursor: pointer;
		align-self: flex-end;
		margin-top: auto;
	}

	&__button:hover,
	&__button:focus {
		background-color: darken($color: white, $amount: 15%);
	}
}

@media (max-width: 686px) {
	.feedback {
		padding-left: 0;
	}
	.form {
		padding-top: 20px;

		&__flex-container {
			padding: 0 30px 0 30px;
		}
	}
}

@media (max-width: 445px) {
	.footer__row-flex {
		justify-content: center;
	}
	.footer__text {
		justify-content: center;
	}
}

@media (max-width: 610px) {
	.feedback__button {
		margin: 20px 0 20px 0;
	}
}

@media (max-width: 371px) {
	.footer__text {
		gap: 20px 21px;
	}
	.footer__vertical-separator {
		opacity: 0;
	}
}
